.App {
  text-align: center;
  width: 60%;
  margin: 5em auto;
}

input{
  width: 20em;
  height: 2em;
  border: 2px solid rgb(88, 189, 223);
  border-radius: 5px;
  text-align: center;
  outline: none;
}


